<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="system.serviceModel" type="System.ServiceModel.Configuration.ServiceModelSectionGroup, System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="standardEndpoints" type="System.ServiceModel.Configuration.StandardEndpointsSection, System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
  </configSections> 
  <system.web>
    <compilation debug="false" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <system.serviceModel>
     
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint helpEnabled="true" automaticFormatSelectionEnabled="true">
          <security mode="None" />
        </standardEndpoint>
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>
  <connectionStrings>
    <add name="ix01ConnectionString" connectionString="Data Source=r6hz2o4r01.database.windows.net;Initial Catalog=test2;Persist Security Info=True;User ID=azministrator;Password=!QAZ2wsx;MultipleActiveResultSets=False"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="apikey" value="2_9ddReqCkefQkoDfCf7j7IJSiDtNeY0aEwi4IYtNo4QDsxcTcwaLW4LV8xpzir_RV"/>
    <add key="secreykey" value="10wwA3bsY3KC4Zd875+DRObeqBRNymg4mzGWAfoFIFk="/>
  </appSettings>
</configuration>